In [1]:
import pandas as pd

In [2]:
import random

In [3]:
data=pd.read_csv(r"C:\Users\DELL\Desktop\Data Hackathon Exercise - Sample Data Set - Sheet1.csv")

In [4]:
data=data.drop(data.index[:4])
data.drop(data.columns[0],axis=1)

,Upsell,Increasing instalment,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61
4,Month,1/31/19,2/28/19,3/31/19,4/30/19,5/31/19,6/30/19,7/31/19,8/31/19,9/30/19,...,3/31/23,4/30/23,5/31/23,6/30/23,7/31/23,8/31/23,9/30/23,10/31/23,11/30/23,12/31/23
5,Volume (units),10000,"10,200","10,404","10,612","10,824","11,041","11,262","11,487","11,717",...,"26,916","27,454","28,003","28,563","29,135","29,717","30,312","30,918","31,536","32,167"

In [5]:
data=data.transpose()
data.columns = ['date', 'volume']
data

                           date          volume
Unnamed: 0                  NaN             NaN
Upsell                    Month  Volume (units)
Increasing instalment   1/31/19           10000
Unnamed: 3              2/28/19          10,200
Unnamed: 4              3/31/19          10,404
...                         ...             ...
Unnamed: 57             8/31/23          29,717
Unnamed: 58             9/30/23          30,312
Unnamed: 59            10/31/23          30,918
Unnamed: 60            11/30/23          31,536
Unnamed: 61            12/31/23          32,167

[62 rows x 2 columns]

In [6]:
data.reset_index(drop=True, inplace=True)
data

        date          volume
0        NaN             NaN
1      Month  Volume (units)
2    1/31/19           10000
3    2/28/19          10,200
4    3/31/19          10,404
..       ...             ...
57   8/31/23          29,717
58   9/30/23          30,312
59  10/31/23          30,918
60  11/30/23          31,536
61  12/31/23          32,167

[62 rows x 2 columns]

In [7]:
data=data.drop(data.index[:2])
data

        date  volume
2    1/31/19   10000
3    2/28/19  10,200
4    3/31/19  10,404
5    4/30/19  10,612
6    5/31/19  10,824
7    6/30/19  11,041
8    7/31/19  11,262
9    8/31/19  11,487
10   9/30/19  11,717
11  10/31/19  11,951
12  11/30/19  12,190
13  12/31/19  12,434
14   1/31/20  12,682
15   2/29/20  12,936
16   3/31/20  13,195
17   4/30/20  13,459
18   5/31/20  13,728
19   6/30/20  14,002
20   7/31/20  14,282
21   8/31/20  14,568
22   9/30/20  14,859
23  10/31/20  15,157
24  11/30/20  15,460
25  12/31/20  15,769
26   1/31/21  16,084
27   2/28/21  16,406
28   3/31/21  16,734
29   4/30/21  17,069
30   5/31/21  17,410
31   6/30/21  17,758
32   7/31/21  18,114
33   8/31/21  18,476
34   9/30/21  18,845
35  10/31/21  19,222
36  11/30/21  19,607
37  12/31/21  19,999
38   1/31/22  20,399
39   2/28/22  20,807
40   3/31/22  21,223
41   4/30/22  21,647
42   5/31/22  22,080
43   6/30/22  22,522
44   7/31/22  22,972
45   8/31/22  23,432
46   9/30/22  23,901
47  10/31/22  24,379
48  11/30/22  24,866
49  12/31/22  25,363
50   1/31/23  25,871
51   2/28/23  26,388
52   3/31/23  26,916
53   4/30/23  27,454
54   5/31/23  28,003
55   6/30/23  28,563
56   7/31/23  29,135
57   8/31/23  29,717
58   9/30/23  30,312
59  10/31/23  30,918
60  11/30/23  31,536
61  12/31/23  32,167

In [8]:
data.reset_index(drop=True, inplace=True)
data

        date  volume
0    1/31/19   10000
1    2/28/19  10,200
2    3/31/19  10,404
3    4/30/19  10,612
4    5/31/19  10,824
5    6/30/19  11,041
6    7/31/19  11,262
7    8/31/19  11,487
8    9/30/19  11,717
9   10/31/19  11,951
10  11/30/19  12,190
11  12/31/19  12,434
12   1/31/20  12,682
13   2/29/20  12,936
14   3/31/20  13,195
15   4/30/20  13,459
16   5/31/20  13,728
17   6/30/20  14,002
18   7/31/20  14,282
19   8/31/20  14,568
20   9/30/20  14,859
21  10/31/20  15,157
22  11/30/20  15,460
23  12/31/20  15,769
24   1/31/21  16,084
25   2/28/21  16,406
26   3/31/21  16,734
27   4/30/21  17,069
28   5/31/21  17,410
29   6/30/21  17,758
30   7/31/21  18,114
31   8/31/21  18,476
32   9/30/21  18,845
33  10/31/21  19,222
34  11/30/21  19,607
35  12/31/21  19,999
36   1/31/22  20,399
37   2/28/22  20,807
38   3/31/22  21,223
39   4/30/22  21,647
40   5/31/22  22,080
41   6/30/22  22,522
42   7/31/22  22,972
43   8/31/22  23,432
44   9/30/22  23,901
45  10/31/22  24,379
46  11/30/22  24,866
47  12/31/22  25,363
48   1/31/23  25,871
49   2/28/23  26,388
50   3/31/23  26,916
51   4/30/23  27,454
52   5/31/23  28,003
53   6/30/23  28,563
54   7/31/23  29,135
55   8/31/23  29,717
56   9/30/23  30,312
57  10/31/23  30,918
58  11/30/23  31,536
59  12/31/23  32,167

In [18]:
#assisting function
def dc():
    if random.random() < 0.95:
        return "yes"
    else:
        return "no"

# ELIGIBLITY CALCULATOR FUNCTION
### function generates if a loan is legible depending on number of loans taken(either upsell or upgrades)
### aims to check if increase/decrese  from 75% allowed results to hihger results
### Also amims to chak if increase /decrease of the percentage decrese results in higher profit (initial set is 20%)h h
### only for cash loans

In [9]:
def eligibity_calculator(num_loans,initial_allowed,d_rate):
    probability = initial_allowed

    
    probability -= num_loans * d_rate

    
    probability = max(0, min(1, probability))

   
    random_number = random.random()

    
    if random_number <= probability:
        return "yes"
    else:
        return "no"

# DAYS OPEN FUNCTION
### Function generates the number of days a is allowed to run
### all loans that are eligible have 400 days
### funtction assumes 85% of the users taking loans will be below the set limit 
### aims to beable to check if higher loan periods result to higher values

In [10]:

def days_open(loan_period):
    loan_period=int(loan_period)
    
    if random.random() > 0.85:
        num = random.randint(loan_period, 1000)
    else:
        num=random.randint(0, loan_period)
        
    return num

#### Asumptions the loans initial principle is a value between 100 - 1000
#### Monthly sales return per user is calculated as firstdayprofit + monthly intrest rate
#### Monthly intrest rate= yearly intest rate/12
#### Function returns monthly expected profit(volume)for a user under specific conditions based on :
* initial_loan status (can be either finished payment or unfinished)
* initial_loan_type(if the initial laon is upgrade and then upsell loan type is not possible )
* loan_period (if loan closed not eligible)
#### Asumption for  loan running time calculation when a person is applying for either an upgrade or upsell 85% of time they will be have ther required limit
* up_time  (variable to be rerurned to later check if shorter loan perods will result to higher profits)
* loan_type (can either be cash for cash loans upgrade for any loan that is of type upgrade (product upgrades))
* cash_loan_volume_limit (variable to be user to check later if putting a limit on cash loans will result in higher profit overall)
* upgrade_loan_volume_limit (variable to be user to check later if putting a limit on cash loans will result in higher profit overall)
* existing num_loans (sets the existing loans for eligiblity calculator function)
* existing num loans (sets how many loans does the person currently have (for  upsell and  upgrade) more== less chances)
* allowed_ppl (number of people who are allowed to take loan)
* decrease rate( rate at which  probablility of loan being acceped reduces per number of taken loans )
* accept upgrade (default parameter of 0.5 to reprecent what percent of customers accept an upgrade)
* accept cash (default parameter of 0.9 to reprecent what percent of customers accept an cash upgrade)

* lv (loan volume Directly propotional to profit so default will always be 1 in testing )

In [11]:


def loan_calculator(initial_loan_status,initial_loan_type,loan_period, loan_type, cash_loan_volume_limit, upgrade_loan_volume_limit, existing_num_loans, allowed_ppl, decrease_rate,accept_cash=0.9,accept_upgrade=0.9 ,cash_loan_acceptance=0.9,upgrade_loan_acceptance=0.5,lv=1):
    loan_running_time = days_open(loan_period)# calculate days open assumption is over 85% the duration is always okay
    eligible = True
    loan_volume = lv
    take = True
    amount = 0
    lm_amount = random.randint(100,1000)
    rm_amount = 0
    rt_lst = []
    
    if loan_running_time > loan_period:
        eligible = False
        
#     initial_loan_time = finished_date + 50
    
    if initial_loan_type == 'upgrade' and loan_type=='cash':
        eligible = False
        
    if initial_loan_status == 'finished':
        eligible = False
        
     # not sure what this variable is supposed to be
    
    if loan_type == 'upgrade':
        if dc()=='no':# replaced close dates to always be 95% yes since no dates
            eligible = False
    
    if loan_type == 'cash':
        if random.random() > cash_loan_acceptance:
            eligible = False
            
        
        if loan_volume > cash_loan_volume_limit:
            eligible = False
    
    if loan_type == 'upgrade':
        if random.random() > upgrade_loan_acceptance:
            eligible = False
        if loan_volume > upgrade_loan_volume_limit:
            eligible = False
     #to be changed later to check how 
        
    if loan_type=='cash':

        if eligibity_calculator(existing_num_loans, allowed_ppl, decrease_rate) == 'No':
            eligible = False
    
    if loan_type == 'cash':
        if random.random() > accept_cash:
            take = False
            
    if loan_type == 'upgrade':
        if random.random() > accept_upgrade:
            take = False
    if loan_type == 'cash' and eligible and take:
        amount = 25 * loan_volume
        amount_monthly = lm_amount * 0.0125
        rm_amount = amount + amount_monthly
        rt_lst.append((loan_type, rm_amount))
      
    if loan_type == 'upgrade' and eligible and take:
        amount = 150 * loan_volume
        amount_monthly = lm_amount * 0.0125
        rm_amount = amount + amount_monthly
        rt_lst.append((loan_type, rm_amount))
        
    
    return rt_lst, rm_amount

In [12]:
#### modified loan_calcluation funtion to return - value so as to use gp_mininize to find optimal parameters

In [13]:


def loan_calculator_optimizer(initial_loan_status,initial_loan_type,loan_period, loan_type, cash_loan_volume_limit, upgrade_loan_volume_limit, existing_num_loans, allowed_ppl, decrease_rate,accept_cash=0.9,accept_upgrade=0.9 ,cash_loan_acceptance=0.9,upgrade_loan_acceptance=0.5,lv=1):
    loan_running_time = days_open(loan_period)# calculate days open assumption is over 85% the duration is always okay
    eligible = True
    loan_volume = lv
    take = True
    amount = 0
    lm_amount = random.randint(100,1000)
    rm_amount = 0
    rt_lst = []
    
    if initial_loan_status==1:
        initial_loan_status='finished'
    else:
        initial_loan_status='unfinished'
        
    if loan_type==1:
        loan_type='cash'
    else:
        loan_type='upgrade'
    
    if loan_running_time > loan_period:
        eligible = False
        
    
    
    if initial_loan_type == 'upgrade' and loan_type=='cash':
        eligible = False
        
    if initial_loan_status == 'finished':
        eligible = False
        
     # not sure what this variable is supposed to be
    
    if loan_type == 'upgrade':
        if dc()=='no':# replaced close dates to always be 95% yes since no dates
            eligible = False
    
    if loan_type == 'cash':
        if random.random() > cash_loan_acceptance:
            eligible = False
            
        
        if loan_volume > cash_loan_volume_limit:
            eligible = False
    
    if loan_type == 'upgrade':
        if random.random() > upgrade_loan_acceptance:
            eligible = False
        if loan_volume > upgrade_loan_volume_limit:
            eligible = False
     #to be changed later to check how 
        
    if loan_type=='cash':

        if eligibity_calculator(existing_num_loans, allowed_ppl, decrease_rate) == 'No':
            eligible = False
    
    if loan_type == 'cash':
        if random.random() > accept_cash:
            take = False
            
    if loan_type == 'upgrade':
        if random.random() > accept_upgrade:
            take = False
    if loan_type == 'cash' and eligible and take:
        amount = 25 * loan_volume
        amount_monthly = lm_amount * 0.0125
        rm_amount = amount + amount_monthly
        rt_lst.append((loan_type, rm_amount))
      
    if loan_type == 'upgrade' and eligible and take:
        amount = 150 * loan_volume
        amount_monthly = lm_amount * 0.0125
        rm_amount = amount + amount_monthly
        rt_lst.append((loan_type, rm_amount))
        
    
    return -rm_amount

In [15]:
import time
from skopt import gp_minimize
from skopt.space import Real
from skopt.space import Categorical

### Using gp_mimimize to find optimal parameters
### Setting up of variables to use when optimizing the calcutator function
### Assumptions here cah and upgrade volumes are nevr above 10 since ther are directly propotional to volume

In [16]:
pram_info=[]

In [19]:
param_space = [
    
    Categorical([1, 0], name='loan_status'),# 1 for finished 0 for not finished
    
    Categorical([1, 0], name='in_loantype'),# 1 for cash 0 for upgrade
    
    Real(1,1000, name='loanperiod'),
    
    Categorical([1, 0], name='loan_type'),## 1 for cash 0 for upgarade
    
    Real(1,10, name='cash_loan_volume'),
    Real(1,10, name='upgrade_loan_volume'),
    Real(1,10, name='existing_num_loans'),
    Real(0.1,0.95, name='allowed_ppl'),
    Real(0.1,0.65, name='decrease_rate'),
    
]


pram_info=[]

def ob_lv(params):
    loan_status, in_loantype, loanperiod, loan_type, cash_loan_volume, upgrade_loan_volume, existing_num_loans, allowed_ppl, decrease_rate= params
    print("Parameters:")
    print("Loan Status:", loan_status)
    print("In Loan Type:", in_loantype)
    print("Loan Period:", loanperiod)
    print("Loan Type:", loan_type)
    print("Cash Loan Volume:", cash_loan_volume)
    print("Upgrade Loan Volume:", upgrade_loan_volume)
    print("Existing Number of Loans:", existing_num_loans)
    print("Allowed People:", allowed_ppl)
    print("Decrease Rate:", decrease_rate)
  
    result = loan_calculator_optimizer(loan_status, in_loantype, loanperiod, loan_type, cash_loan_volume, upgrade_loan_volume, existing_num_loans, allowed_ppl, decrease_rate)
    #here we save the parameters and result in a list for later processing
    pram_info.append((loan_status, in_loantype, loanperiod, loan_type, cash_loan_volume, upgrade_loan_volume, existing_num_loans, allowed_ppl, decrease_rate,result))
    return result

start_time = time.time()

result = gp_minimize(
    func=ob_lv,
    dimensions=param_space,
    n_calls=100,  # Number of optimization iterations
    random_state=60
)

print("Optimal Parameters:", result.x)
print("Optimal Value:", -result.fun) 
end_time = time.time()

elapsed_time_seconds = end_time - start_time
elapsed_time_minutes = elapsed_time_seconds / 60

print(f"The notebook has been running for {elapsed_time_seconds:.2f} seconds, or {elapsed_time_minutes:.2f} minutes.")

Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 632.0007229900646
Loan Type: 0
Cash Loan Volume: 7.73585224586938
Upgrade Loan Volume: 5.773578237106906
Existing Number of Loans: 9.379209630900874
Allowed People: 0.6987246587485877
Decrease Rate: 0.5921018251617728
Parameters:
Loan Status: 0
In Loan Type: 1
Loan Period: 529.3121727262401
Loan Type: 0
Cash Loan Volume: 4.6301573454131235
Upgrade Loan Volume: 4.97394850479788
Existing Number of Loans: 9.21997977479983
Allowed People: 0.26058549610895765
Decrease Rate: 0.12369229440500622
Parameters:
Loan Status: 1
In Loan Type: 0
Loan Period: 502.9990836035659
Loan Type: 1
Cash Loan Volume: 2.265243176763637
Upgrade Loan Volume: 5.586457138040396
Existing Number of Loans: 1.5196015528691391
Allowed People: 0.907609883435908
Decrease Rate: 0.23062864935146454
Parameters:
Loan Status: 0
In Loan Type: 1
Loan Period: 44.11325871963333
Loan Type: 1
Cash Loan Volume: 7.9269202484523955
Upgrade Loan Volume: 4.854918072814967
Existing Number of Loans: 5.520275489791782
Allowed People: 0.8558982153603034
Decrease Rate: 0.4391483825174872
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 767.9772261798761
Loan Type: 1
Cash Loan Volume: 5.492521516049406
Upgrade Loan Volume: 9.879812290513685
Existing Number of Loans: 8.736075623429008
Allowed People: 0.9194832259136271
Decrease Rate: 0.5110402850429917
Parameters:
Loan Status: 1
In Loan Type: 0
Loan Period: 559.8289672844778
Loan Type: 1
Cash Loan Volume: 7.4057068657765335
Upgrade Loan Volume: 1.42624557816581
Existing Number of Loans: 3.828771549088495
Allowed People: 0.8183517818329997
Decrease Rate: 0.6132609064098167
Parameters:
Loan Status: 0
In Loan Type: 1
Loan Period: 408.63254361702536
Loan Type: 1
Cash Loan Volume: 1.758549139939087
Upgrade Loan Volume: 7.5431705504289726
Existing Number of Loans: 5.541737299670556
Allowed People: 0.9238914742395352
Decrease Rate: 0.6371001196352662
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 636.0528650967377
Loan Type: 0
Cash Loan Volume: 5.631198272333238
Upgrade Loan Volume: 2.1373353628034755
Existing Number of Loans: 3.1851182308749966
Allowed People: 0.3102810046719645
Decrease Rate: 0.45843943927638653
Parameters:
Loan Status: 1
In Loan Type: 0
Loan Period: 98.16843665756237
Loan Type: 0
Cash Loan Volume: 8.987747277784546
Upgrade Loan Volume: 7.186378184686492
Existing Number of Loans: 7.87450537998805
Allowed People: 0.8188092304540913
Decrease Rate: 0.3701285546948817
Parameters:
Loan Status: 1
In Loan Type: 0
Loan Period: 775.1541435884409
Loan Type: 0
Cash Loan Volume: 8.541926542915235
Upgrade Loan Volume: 6.3999317831178075
Existing Number of Loans: 3.806903129309774
Allowed People: 0.7310548666333225
Decrease Rate: 0.5475902334936111
Parameters:
Loan Status: 0
In Loan Type: 1
Loan Period: 1.0
Loan Type: 1
Cash Loan Volume: 1.0
Upgrade Loan Volume: 10.0
Existing Number of Loans: 10.0
Allowed People: 0.37569670459751414
Decrease Rate: 0.1
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 649.1737897570927
Loan Type: 0
Cash Loan Volume: 5.756561326752377
Upgrade Loan Volume: 1.7473059302682217
Existing Number of Loans: 2.3894339735105286
Allowed People: 0.31445699721354564
Decrease Rate: 0.5019513247891862
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 625.3124955017382
Loan Type: 0
Cash Loan Volume: 5.551001384212653
Upgrade Loan Volume: 1.9413480987095877
Existing Number of Loans: 3.181341008501163
Allowed People: 0.30868569167199905
Decrease Rate: 0.45980061884830914
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 709.2271050105537
Loan Type: 0
Cash Loan Volume: 6.170042379557889
Upgrade Loan Volume: 3.4879003573620952
Existing Number of Loans: 3.222144248816358
Allowed People: 0.32021897119136566
Decrease Rate: 0.4455600166708189
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 621.9629463069111
Loan Type: 0
Cash Loan Volume: 5.464416130155288
Upgrade Loan Volume: 1.853528971281574
Existing Number of Loans: 3.1706130443802563
Allowed People: 0.31299754244114103
Decrease Rate: 0.4586259596488971
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 474.6949512832169
Loan Type: 0
Cash Loan Volume: 3.892596036040926
Upgrade Loan Volume: 2.0476474509001923
Existing Number of Loans: 3.1866564890044895
Allowed People: 0.3088909550281842
Decrease Rate: 0.5597813855424908
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 620.3845847602626
Loan Type: 0
Cash Loan Volume: 6.613747853173998
Upgrade Loan Volume: 2.0997373761502383
Existing Number of Loans: 3.18617460470731
Allowed People: 0.4015616474687915
Decrease Rate: 0.2752231535306605
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 348.6007016724284
Loan Type: 0
Cash Loan Volume: 8.621373552387205
Upgrade Loan Volume: 2.048363114910946
Existing Number of Loans: 3.1871669083746714
Allowed People: 0.2120971073659212
Decrease Rate: 0.46146042863318315
Parameters:
Loan Status: 1
In Loan Type: 0
Loan Period: 692.5116430860804
Loan Type: 0
Cash Loan Volume: 5.018591622900163
Upgrade Loan Volume: 2.0995107416248295
Existing Number of Loans: 3.2127462207990463
Allowed People: 0.18137285608225737
Decrease Rate: 0.504447893007142
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 670.5627601218557
Loan Type: 0
Cash Loan Volume: 6.167336147970329
Upgrade Loan Volume: 6.001939935353216
Existing Number of Loans: 7.2434879234750085
Allowed People: 0.4251711942135684
Decrease Rate: 0.46081700725511376
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 658.2506308557297
Loan Type: 0
Cash Loan Volume: 4.2555976124823935
Upgrade Loan Volume: 2.0687954611674177
Existing Number of Loans: 6.484042820164085
Allowed People: 0.4364498215101168
Decrease Rate: 0.46294455446133076
Parameters:
Loan Status: 1
In Loan Type: 0
Loan Period: 468.4975736433355
Loan Type: 0
Cash Loan Volume: 2.6281373913875297
Upgrade Loan Volume: 7.694734185613519
Existing Number of Loans: 9.182095972637935
Allowed People: 0.3032389139545465
Decrease Rate: 0.5628960015705889
Parameters:
Loan Status: 1
In Loan Type: 0
Loan Period: 449.9371177493213
Loan Type: 1
Cash Loan Volume: 8.304318431056387
Upgrade Loan Volume: 9.612213559802631
Existing Number of Loans: 2.600535092311471
Allowed People: 0.4407956302438646
Decrease Rate: 0.5602498248928344
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 1.595593268149551
Loan Type: 0
Cash Loan Volume: 3.7694948233044414
Upgrade Loan Volume: 8.194385884685666
Existing Number of Loans: 2.913334354261308
Allowed People: 0.18065474212748908
Decrease Rate: 0.5595380535953287
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 535.7739386611742
Loan Type: 1
Cash Loan Volume: 3.939614368412822
Upgrade Loan Volume: 9.270828856421266
Existing Number of Loans: 2.8953406187294943
Allowed People: 0.10186619824863492
Decrease Rate: 0.561254691924688
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 737.5979872471488
Loan Type: 0
Cash Loan Volume: 5.628189020832116
Upgrade Loan Volume: 6.314518904397504
Existing Number of Loans: 2.677482301349454
Allowed People: 0.27754477317720955
Decrease Rate: 0.48496012529687693
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 540.1478561903767
Loan Type: 0
Cash Loan Volume: 5.632020981802827
Upgrade Loan Volume: 2.0460099162625163
Existing Number of Loans: 7.306055794697326
Allowed People: 0.6537671871063252
Decrease Rate: 0.5372470406113798
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 378.8525387017008
Loan Type: 0
Cash Loan Volume: 5.630204441472702
Upgrade Loan Volume: 2.057681082690462
Existing Number of Loans: 2.808060758069314
Allowed People: 0.5019483635501432
Decrease Rate: 0.41763833344175205
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 667.9805590441366
Loan Type: 0
Cash Loan Volume: 2.483476328341184
Upgrade Loan Volume: 2.63851189876691
Existing Number of Loans: 3.035048765177722
Allowed People: 0.30428906539360595
Decrease Rate: 0.4612180532026541
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 998.357864504574
Loan Type: 0
Cash Loan Volume: 5.586940970004654
Upgrade Loan Volume: 7.27031035042271
Existing Number of Loans: 6.927569644252108
Allowed People: 0.5044311662953994
Decrease Rate: 0.47881493909007977
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 890.5787226008334
Loan Type: 0
Cash Loan Volume: 5.544146099961419
Upgrade Loan Volume: 6.844744359622039
Existing Number of Loans: 5.568157366446796
Allowed People: 0.488169704710837
Decrease Rate: 0.48422297187499463
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 622.9263995064114
Loan Type: 0
Cash Loan Volume: 6.11561751140866
Upgrade Loan Volume: 2.1763005624617655
Existing Number of Loans: 3.2115299242407143
Allowed People: 0.43235663789427636
Decrease Rate: 0.4597449820553309
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 991.1705525881129
Loan Type: 0
Cash Loan Volume: 5.610265124312292
Upgrade Loan Volume: 6.9683324801490665
Existing Number of Loans: 2.7283658128625703
Allowed People: 0.10664552741229862
Decrease Rate: 0.4820253689091112
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 414.67457419378684
Loan Type: 0
Cash Loan Volume: 3.832804283972596
Upgrade Loan Volume: 8.44602194106687
Existing Number of Loans: 3.053903174684945
Allowed People: 0.6339125795159978
Decrease Rate: 0.5596632297821548
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 532.6441787248987
Loan Type: 0
Cash Loan Volume: 5.613297469062379
Upgrade Loan Volume: 1.448219677774647
Existing Number of Loans: 3.1828501705148153
Allowed People: 0.9477219001932603
Decrease Rate: 0.45869663604149036
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 314.778902369342
Loan Type: 0
Cash Loan Volume: 3.8367280743693195
Upgrade Loan Volume: 8.313449012939323
Existing Number of Loans: 3.0623403659247797
Allowed People: 0.37667077410855265
Decrease Rate: 0.5596734010375258
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 437.74323425627927
Loan Type: 0
Cash Loan Volume: 3.84985692031182
Upgrade Loan Volume: 6.098449792952712
Existing Number of Loans: 3.092177014977324
Allowed People: 0.5534575071511976
Decrease Rate: 0.5445225296072229
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 555.0661815294137
Loan Type: 0
Cash Loan Volume: 8.996305028721052
Upgrade Loan Volume: 7.059212680812324
Existing Number of Loans: 2.7416148650750505
Allowed People: 0.11450124540930381
Decrease Rate: 0.30819702917090114
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 746.2647577401696
Loan Type: 1
Cash Loan Volume: 5.666568542712896
Upgrade Loan Volume: 6.859590302319434
Existing Number of Loans: 1.4419887659452644
Allowed People: 0.2669493840201896
Decrease Rate: 0.4886349823606685
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 750.9709860704831
Loan Type: 0
Cash Loan Volume: 5.494183042649536
Upgrade Loan Volume: 6.111582167465544
Existing Number of Loans: 2.689148826058969
Allowed People: 0.2563545876488572
Decrease Rate: 0.17714181436516857
Parameters:
Loan Status: 1
In Loan Type: 0
Loan Period: 751.3633447130642
Loan Type: 1
Cash Loan Volume: 5.503927326706701
Upgrade Loan Volume: 6.5732665134256845
Existing Number of Loans: 2.6415545257348967
Allowed People: 0.8360875704880596
Decrease Rate: 0.15693319180862833
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 757.5101166267624
Loan Type: 1
Cash Loan Volume: 5.3616978366442565
Upgrade Loan Volume: 8.989193169127866
Existing Number of Loans: 2.79729503454153
Allowed People: 0.10042605178336167
Decrease Rate: 0.4852687006006182
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 462.7416391903216
Loan Type: 0
Cash Loan Volume: 5.1292168996980285
Upgrade Loan Volume: 6.815738384402684
Existing Number of Loans: 2.7330483104233387
Allowed People: 0.18746074336848684
Decrease Rate: 0.3271145875210114
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 750.9094994762341
Loan Type: 0
Cash Loan Volume: 4.669335118408595
Upgrade Loan Volume: 6.14132560014344
Existing Number of Loans: 2.6870401110001905
Allowed People: 0.25995225074815725
Decrease Rate: 0.3560772626420641
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 749.1162896959204
Loan Type: 0
Cash Loan Volume: 8.036470975058155
Upgrade Loan Volume: 6.114634725910888
Existing Number of Loans: 2.6898680400012447
Allowed People: 0.2569062295312371
Decrease Rate: 0.1490482504763591
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 420.6409615459685
Loan Type: 0
Cash Loan Volume: 3.951401574073568
Upgrade Loan Volume: 8.542188030451427
Existing Number of Loans: 3.020199815396762
Allowed People: 0.6507518257562013
Decrease Rate: 0.6064655651214439
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 632.3816263681128
Loan Type: 1
Cash Loan Volume: 5.6276875593406865
Upgrade Loan Volume: 2.0779578515028696
Existing Number of Loans: 3.1872025332480987
Allowed People: 0.30689802751913986
Decrease Rate: 0.45967194020736013
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 608.600594148958
Loan Type: 0
Cash Loan Volume: 5.6464763491727945
Upgrade Loan Volume: 3.1077912680917352
Existing Number of Loans: 7.4952751622904294
Allowed People: 0.27588793276959966
Decrease Rate: 0.4837690043915861
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 751.0312836430294
Loan Type: 0
Cash Loan Volume: 5.481111154798591
Upgrade Loan Volume: 6.112963276374424
Existing Number of Loans: 3.79441874410811
Allowed People: 0.25628463208018826
Decrease Rate: 0.177192049061621
Parameters:
Loan Status: 1
In Loan Type: 0
Loan Period: 744.8077205057568
Loan Type: 0
Cash Loan Volume: 5.652884891400933
Upgrade Loan Volume: 6.568961279279495
Existing Number of Loans: 3.787161496602771
Allowed People: 0.277348693350492
Decrease Rate: 0.4845147255132687
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 633.0454224286408
Loan Type: 0
Cash Loan Volume: 5.723710111658522
Upgrade Loan Volume: 4.039684025630957
Existing Number of Loans: 6.22785199367413
Allowed People: 0.3067836486757222
Decrease Rate: 0.45962644046504797
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 473.057431045317
Loan Type: 0
Cash Loan Volume: 4.000515399775936
Upgrade Loan Volume: 2.1926178025634124
Existing Number of Loans: 7.128309819956041
Allowed People: 0.3036415775679763
Decrease Rate: 0.560541440487699
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 749.741551715133
Loan Type: 0
Cash Loan Volume: 5.700597942032936
Upgrade Loan Volume: 6.082115684959103
Existing Number of Loans: 9.647723601573986
Allowed People: 0.25782755288009496
Decrease Rate: 0.1768652004786804
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 752.4217321359616
Loan Type: 0
Cash Loan Volume: 4.5578817799150695
Upgrade Loan Volume: 6.198116220460557
Existing Number of Loans: 3.743206711427995
Allowed People: 0.263109125344319
Decrease Rate: 0.35577193296538556
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 751.0895880128053
Loan Type: 0
Cash Loan Volume: 5.503020267149225
Upgrade Loan Volume: 6.111269592331731
Existing Number of Loans: 6.890095197089513
Allowed People: 0.7258748098686267
Decrease Rate: 0.17725576870367482
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 634.326653022985
Loan Type: 0
Cash Loan Volume: 5.616563875193295
Upgrade Loan Volume: 2.1078228899250115
Existing Number of Loans: 1.6832812027370394
Allowed People: 0.3078749207361169
Decrease Rate: 0.4585016097201685
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 600.2822995690007
Loan Type: 0
Cash Loan Volume: 5.494356943642405
Upgrade Loan Volume: 9.076834575571702
Existing Number of Loans: 2.707684694036487
Allowed People: 0.25634584320598336
Decrease Rate: 0.17715463425835093
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 820.9950604172067
Loan Type: 0
Cash Loan Volume: 5.4856450596327075
Upgrade Loan Volume: 5.443380127752577
Existing Number of Loans: 2.686492706626389
Allowed People: 0.25645440541509223
Decrease Rate: 0.30110991533736575
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 750.2626120502694
Loan Type: 0
Cash Loan Volume: 5.453964813263591
Upgrade Loan Volume: 5.75940626517931
Existing Number of Loans: 2.6888465366357934
Allowed People: 0.2569831410710492
Decrease Rate: 0.2055183131462276
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 740.8099181513873
Loan Type: 0
Cash Loan Volume: 5.488150019110125
Upgrade Loan Volume: 4.609404658828947
Existing Number of Loans: 2.680351498557967
Allowed People: 0.27226570901348945
Decrease Rate: 0.2307125780491906
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 468.80287709874364
Loan Type: 0
Cash Loan Volume: 3.913245701588385
Upgrade Loan Volume: 2.2484604768936594
Existing Number of Loans: 7.117609164749699
Allowed People: 0.30452526981039535
Decrease Rate: 0.1235398385199909
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 3.694503716803283
Loan Type: 0
Cash Loan Volume: 3.651340660414404
Upgrade Loan Volume: 8.09605583631887
Existing Number of Loans: 2.917031558342516
Allowed People: 0.17838585013141364
Decrease Rate: 0.5719696803556492
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 1000.0
Loan Type: 0
Cash Loan Volume: 5.549966964237961
Upgrade Loan Volume: 4.489086107138856
Existing Number of Loans: 2.617573345846158
Allowed People: 0.2532610156684294
Decrease Rate: 0.1774999430567098
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 695.6901472299674
Loan Type: 0
Cash Loan Volume: 5.484636214541354
Upgrade Loan Volume: 7.089903597658785
Existing Number of Loans: 2.9966430332416545
Allowed People: 0.25666174416580656
Decrease Rate: 0.17712897432437658
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 742.1032478373803
Loan Type: 0
Cash Loan Volume: 5.439915381376985
Upgrade Loan Volume: 3.927126805828638
Existing Number of Loans: 2.6895323934143875
Allowed People: 0.27876574724066605
Decrease Rate: 0.485062892175646
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 754.3364433612276
Loan Type: 0
Cash Loan Volume: 5.488708810439442
Upgrade Loan Volume: 6.052827366815603
Existing Number of Loans: 3.183111741089929
Allowed People: 0.2563050641124975
Decrease Rate: 0.17720082063062315
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 750.6124422089181
Loan Type: 0
Cash Loan Volume: 4.703096392169931
Upgrade Loan Volume: 6.162367191288421
Existing Number of Loans: 2.5344933414519786
Allowed People: 0.2593852977275475
Decrease Rate: 0.3561823200657407
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 756.2735782896301
Loan Type: 0
Cash Loan Volume: 5.479284007387987
Upgrade Loan Volume: 5.789994164563307
Existing Number of Loans: 3.7630685905967103
Allowed People: 0.2547818086429079
Decrease Rate: 0.19817407293086256
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 764.8155351287401
Loan Type: 0
Cash Loan Volume: 4.377832108143515
Upgrade Loan Volume: 6.293619709840282
Existing Number of Loans: 2.7295012388313893
Allowed People: 0.2593667896092089
Decrease Rate: 0.35604052841295597
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 649.3064336508902
Loan Type: 0
Cash Loan Volume: 4.708966763580214
Upgrade Loan Volume: 7.105220483607849
Existing Number of Loans: 2.7394581336452006
Allowed People: 0.26031073046071324
Decrease Rate: 0.3561139559666304
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 744.6297083345304
Loan Type: 0
Cash Loan Volume: 5.6561621753135665
Upgrade Loan Volume: 6.371247490615504
Existing Number of Loans: 2.678089644930018
Allowed People: 0.2785394115736053
Decrease Rate: 0.485321940084974
Parameters:
Loan Status: 0
In Loan Type: 0
Loan Period: 629.4066169643901
Loan Type: 0
Cash Loan Volume: 5.544619228865998
Upgrade Loan Volume: 1.9956586230068056
Existing Number of Loans: 3.389635710185448
Allowed People: 0.8515466730679612
Decrease Rate: 0.4587804781308742
Parameters:
Loan Status: 1
In Loan Type: 0
Loan Period: 750.7722028288051
Loan Type: 0
Cash Loan Volume: 5.487353873209062
Upgrade Loan Volume: 6.117320870082616

In [20]:

columns = ['loan_status', 'in_loantype', 'loanperiod', 'loan_type', 'cash_loan_volume', 'upgrade_loan_volume', 'existing_num_loans', 'allowed_ppl', 'decrease_rate', 'result']

# Create DataFrame
df = pd.DataFrame(pram_info, columns=columns)

df

,loan_status,in_loantype,loanperiod,loan_type,cash_loan_volume,upgrade_loan_volume,existing_num_loans,allowed_ppl,decrease_rate,result
0,0,0,632.000723,0,7.735852,5.773578,9.379210,0.698725,0.592102,0.0000
1,0,1,529.312173,0,4.630157,4.973949,9.219980,0.260585,0.123692,-153.8125
2,1,0,502.999084,1,2.265243,5.586457,1.519602,0.907610,0.230629,0.0000
3,0,1,44.113259,1,7.926920,4.854918,5.520275,0.855898,0.439148,-27.2500
4,0,0,767.977226,1,5.492522,9.879812,8.736076,0.919483,0.511040,-28.6625
...,...,...,...,...,...,...,...,...,...,...
95,0,0,959.454987,0,5.568798,7.412946,3.933202,0.209386,0.499366,-154.0375
96,0,0,711.230390,0,5.387730,6.196023,2.308288,0.206374,0.493192,0.0000
97,0,0,487.583694,0,4.074020,2.078763,6.848144,0.337600,0.613075,-158.0625
98,0,0,489.045609,1,3.910820,2.073835,7.361002,0.305331,0.626823,-26.4000
99,0,0,493.513478,0,9.751134,2.044098,9.573648,0.298718,0.624425,0.0000

In [21]:
df.to_csv('parameter_optimization_results.csv', index=False)

In [22]:
df['result']=df.result.abs()
loan_status_map = {0: 'Unfinished', 1: 'Finished'}
df['loan_status'] = df['loan_status'].map(loan_status_map)

# Mapping for in_loantype and loan_type
loan_type_map = {0: 'Upgrade', 1: 'Cash'}
df['in_loantype'] = df['in_loantype'].map(loan_type_map)
df['loan_type'] = df['loan_type'].map(loan_type_map)
df

,loan_status,in_loantype,loanperiod,loan_type,cash_loan_volume,upgrade_loan_volume,existing_num_loans,allowed_ppl,decrease_rate,result
0,Unfinished,Upgrade,632.000723,Upgrade,7.735852,5.773578,9.379210,0.698725,0.592102,0.0000
1,Unfinished,Cash,529.312173,Upgrade,4.630157,4.973949,9.219980,0.260585,0.123692,153.8125
2,Finished,Upgrade,502.999084,Cash,2.265243,5.586457,1.519602,0.907610,0.230629,0.0000
3,Unfinished,Cash,44.113259,Cash,7.926920,4.854918,5.520275,0.855898,0.439148,27.2500
4,Unfinished,Upgrade,767.977226,Cash,5.492522,9.879812,8.736076,0.919483,0.511040,28.6625
...,...,...,...,...,...,...,...,...,...,...
95,Unfinished,Upgrade,959.454987,Upgrade,5.568798,7.412946,3.933202,0.209386,0.499366,154.0375
96,Unfinished,Upgrade,711.230390,Upgrade,5.387730,6.196023,2.308288,0.206374,0.493192,0.0000
97,Unfinished,Upgrade,487.583694,Upgrade,4.074020,2.078763,6.848144,0.337600,0.613075,158.0625
98,Unfinished,Upgrade,489.045609,Cash,3.910820,2.073835,7.361002,0.305331,0.626823,26.4000
99,Unfinished,Upgrade,493.513478,Upgrade,9.751134,2.044098,9.573648,0.298718,0.624425,0.0000

In [23]:
max_result_index = df['result'].idxmax()

# Return the row corresponding to the maximum 'result'
max_result_row = df.loc[max_result_index]

In [24]:
max_result_row

loan_status            Unfinished
in_loantype               Upgrade
loanperiod             750.970986
loan_type                 Upgrade
cash_loan_volume         5.494183
upgrade_loan_volume      6.111582
existing_num_loans       2.689149
allowed_ppl              0.256355
decrease_rate            0.177142
result                    162.425
Name: 39, dtype: object


### Best prarametsers suggested
* alonger loan period resulted in better loan volum per user
* a higher loan decrease rate resulted to higher results

In [ ]:
import plotly.graph_objs as go

In [25]:
correlation=df.corr()
correlation

ValueError: could not convert string to float: 'Upgrade'

In [ ]:
correlation_matrix=correlation
heatmap = go.Heatmap(
    z=correlation_matrix.values,
    x=correlation_matrix.columns,
    y=correlation_matrix.columns,
    colorscale='Viridis'
)

layout = go.Layout(
    title='Correlation Matrix',
    xaxis=dict(title='Columns'),
    yaxis=dict(title='Columns')
)

fig = go.Figure(data=[heatmap], layout=layout)
fig.show()

## Factors Affecting Result

### Positive Correlations
- **Cash Loan Volume and Upgrade Loan Volume**: There is a moderate positive correlation (0.2193) between cash loan volume and upgrade loan volume. This suggests that as the volume of cash loans increases, the volume of upgrade loans also tends to increase.
- **Allowed People and Decrease Rate**: There is a moderate positive correlation (0.3673) between the number of allowed people and the decrease rate. This implies that a higher number of allowed people is associated with a higher decrease rate.
- **Existing Number of Loans and Result**: There is a moderate positive correlation (0.2536) between the existing number of loans and the result. This indicates that a higher number of existing loans is associated with a better result.
- **Cash Loan Volume and Decrease Rate**: There is a moderate positive correlation (0.3910) between cash loan volume and the decrease rate. This suggests that higher cash loan volumes are associated with higher decrease rates.